<!-- Section: pricing -->
<section id="pricing" class="home-section bg-gray paddingbot-60">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Health packages</h2>
                        <p>Take charge of your eyes today with our specially designed health packages</p>
                    </div>
                </div>
                <div class="divider-short"></div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-sm-4 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.1s">
                    <div class="pricing-content general">
                        <h2>Basic Fit 1 Package</h2>
                        <h3>$33<sup>.99</sup> <span>/ one time</span></h3>
                        <ul>
                            <li>Anthropometry (BMI, WH Ratio) <i class="fa fa-check icon-success"></i></li>
                            <li>Post Examination Review <i class="fa fa-check icon-success"></i></li>
                            <li>General Screening – Basic <i class="fa fa-check icon-success"></i></li>
                            <li><del>Health Screening Report</del> <i class="fa fa-times icon-danger"></i></li>
                        </ul>

                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 pricing-box featured-price">
                <div class="wow bounceInUp" data-wow-delay="0.3s">
                    <div class="pricing-content featured">
                        <h2>Golden Glow Package</h2>
                        <h3>$65<sup>.99</sup> <span>/ one time</span></h3>
                        <ul>
                            <li>Anthropometry (BMI, WH Ratio) <i class="fa fa-check icon-success"></i></li>
                            <li>Post Examination Review <i class="fa fa-check icon-success"></i></li>
                            <li>General Screening – Basic <i class="fa fa-check icon-success"></i></li>
                            <li>Eye Composition Analysis <i class="fa fa-check icon-success"></i></li>
                            <li>Eye Assessment & Scoring <i class="fa fa-check icon-success"></i></li>
                        </ul>

                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div class="pricing-content general last">
                        <h2>Basic Fit 2 Package</h2>
                        <h3>$47<sup>.99</sup> <span>/ one time</span></h3>
                        <ul>
                            <li>Anthropometry (BMI, WH Ratio) <i class="fa fa-check icon-success"></i></li>
                            <li>Post Examination Review <i class="fa fa-check icon-success"></i></li>
                            <li>General Screening – Regular <i class="fa fa-check icon-success"></i></li>
                            <li><del>Eye Screening Report</del> <i class="fa fa-times icon-danger"></i></li>
                        </ul>

                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- /Section: pricing -->